@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=League+Spartan:wght@300&family=Lexend+Deca:wght@200&family=Space+Mono&display=swap");
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Inter", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Space Mono", monospace;
}
.container {
  width: 65%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  margin-top: 7rem;
}
.leftSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.rightSection {
  width: 50%;
  height: 100%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
}
.inputeStyle {
  width: 80%;
  height: 2.6rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: right;
  padding: 0px 20px 0px 20px;
  font-size: 26px;
  color: hsl(184, 14%, 56%);
  margin-bottom: 30px;
}
.buttonContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tipButton {
  width: 30%;
  height: 2.5rem;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.customButton {
  width: 30%;
  height: 2.5rem;
  background-color: hsl(189, 41%, 97%);
  color: hsl(184, 14%, 56%);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.labelStyle {
  color: hsl(186, 14%, 43%);
  font-size: 20px;
  margin-bottom: 10px;
}
